# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

## User settings
*.xcuserstate
xcuserdata/

# Track only the shared app scheme and active Swift package lockfile.
Mochi Diffusion.xcodeproj/xcshareddata/*
!Mochi Diffusion.xcodeproj/xcshareddata/xcschemes/
Mochi Diffusion.xcodeproj/xcshareddata/xcschemes/*
!Mochi Diffusion.xcodeproj/xcshareddata/xcschemes/Mochi Diffusion.xcscheme
Mochi Diffusion.xcodeproj/project.xcworkspace/*
!Mochi Diffusion.xcodeproj/project.xcworkspace/xcshareddata/
Mochi Diffusion.xcodeproj/project.xcworkspace/xcshareddata/*
!Mochi Diffusion.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
Mochi Diffusion.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/*
!Mochi Diffusion.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace
